body { 
    /* The image used */
    /* background-image: url("images//laura-vinck-Hyu76loQLdk-unsplash.jpg"); */
    background-repeat: no-repeat;
  }
  
  h1 {
    text-align: center;
  }
  
  ul {
    font-family: verdana;
    font-size: 20px;
    list-style:none;
    font-style: italic;
  }

  